@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: 'Red Rose', cursive; 
   background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
}

.red{    
   height: 25px;
   cursor: pointer;
}

.nav-color{
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

